<template>
  <div class="board">
    <div class="parent">
      <template v-for="x in $_.range(0,64)">
        <square :pos="x" :class="['child', {'highlight': validSquares.indexOf(x) > -1}]"
                :stoke="board[x].type" :player="board[x].player"
                v-on:dropped="onDropped" v-on:killed="killed" v-on:highlight="highlightValid">
        </square>
      </template>
    </div>
    <br/>
    <span :class="{'white': turn == 1, 'black': turn == 2}" v-if="winner == 0">
      Turn for Player: {{turn}}
    </span>
    <span class="white" v-if="winner != 0">
      Player {{winner}} wins!
    </span>
  </div>
</template>

<script>
  import Square from './Square';

  let board = [];
  for (let i = 0; i < 64; i++) {
    board.push('');
  }

  board[3] = {player: 1, type: 'rook'};
  board[18] = {player: 2, type: 'bishop'};
  board[21] = {player: 1, type: 'king'};
  board[37] = {player: 2, type: 'knight'};
  board[39] = {player: 2, type: 'king'};
  board[43] = {player: 2, type: 'knight'};

  export default {
    name: 'mains',
    components: {Square},
    data() {
      return {
        board: board,
        turn: 1,
        validSquares: [],
        winner: 0
      }
    },
    methods: {
      highlightValid(mainProps) {
        if (mainProps.player == this.turn && this.winner == 0)
          this.validSquares = mainProps.valid;
      },
      changeTurn() {
        this.turn = this.turn == 1 ? 2 : 1;
        this.validSquares = [];
      },
      onDropped(oldPosObj, newPos) {
        if (this.turn != oldPosObj.player || this.winner != 0)
          return;
        this.$set(this.board, oldPosObj.oldPos, '');
        this.$set(this.board, newPos, oldPosObj);
        this.changeTurn()
      },
      killed(oldPosObj, newPos) {
        if (this.turn != oldPosObj.player || this.winner != 0)
          return;
        if(this.board[newPos].type == 'king')
          this.winner = this.turn;
        this.$set(this.board, oldPosObj.oldPos, '');
        this.$set(this.board, newPos, '');
        this.$nextTick(() => {
          this.$set(this.board, newPos, oldPosObj);
        })
        this.changeTurn()
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .column {
    min-height: 150px;
  }

  .parent {
    display: flex;
    flex-wrap: wrap;
  }

  .child {
    flex: 1 0 11%;
    margin: 5px;
    min-height: 100px;
    /*background-color: blue;*/
  }

  span.white {
    background-color: #fff;
    border: black;
    font-size: 100px;
  }

  span.black {
    background-color: #000;
    border: white;
    color: white;
    font-size: 100px;
  }

  div.highlight {
    background: red;
  }
</style>
