<template>
  <div draggable="true" style="height: 100%;">
    <i :class="['fas fa-chess-' + type + ' fa-4x', {white: isWhite}]" style="height: 95%;"></i>
  </div>
</template>

<script>
  import _ from 'lodash';
  let offsets = {
    rook: _.flatMap(_.range(1, 8), (x) => {
      return [[x, 0], [0, x], [-1 * x, 0], [0, -1 * x]]
    }),
    king: [
      [1,0],
      [0,1],
      [-1, 0],
      [0,-1]
    ],
    bishop: _.flatMap(_.range(1, 8), (x) => {
      return [[x, x], [-1*x, x], [x, -1 * x], [-1*x, -1 * x]]
    }),
    knight: [
      [-2, 1],
      [-1, 2],
      [1, 2],
      [2, 1],
      [2, -1],
      [1, -2],
      [-1, -2],
      [-2, -1]
    ]
  };
  export default {
    name: "piece",
    props: ['type', 'player', 'pos'],
    methods: {
      breakPos(num) {
        return [parseInt(num / 8), num % 8]
      },
      validMoves() {
        let currPost = this.breakPos(this.pos);
        let typeOffset = offsets[this.type];
        console.log(typeOffset);
        let valid = this.$_.map(typeOffset, (off) => {
          let newX = (off[0] + currPost[0]);
          let newY = (off[1] + currPost[1]);
          if( newX > 7 || newY > 7 || newX < 0 || newY < 0) {
            return -1
          }
          let vPos = newX * 8 + newY;
          return vPos;
        })
        this.$_.remove(valid, (c) => c < 0);
        return valid;
      }
    },
    computed: {
      isWhite(){
        return this.player === 1
      }
    },
    mounted() {
      this.$el.addEventListener('dragstart', (e) => {
        let mainProps = {
          oldPos: this.pos,
          type: this.type,
          player: this.player,
          valid: this.validMoves()
        };
        this.$emit('highlight', mainProps);
        e.dataTransfer.setData('chess', JSON.stringify(mainProps));
      })
    }
  }
</script>

<style scoped>
.white {
  color: grey;
}
</style>
