<template>
  <div :class="{black: isBlack}">
    <piece v-if="!$_.isEmpty(stoke)" v-on:highlight="dragStart"
            :type="stoke" :player="player" :pos="pos"></piece>
  </div>
</template>

<script>
  import Piece from './Piece'

  export default {
    name: "square",
    props: ['pos', 'player', 'stoke'],
    components: {
      Piece
    },
    computed: {
      isBlack: function () {
        return (parseInt(this.pos / 8) + this.pos) % 2 === 0
      }
    },
    methods: {
      enter(e) {
        e.preventDefault();
      },
      drag(e) {
        e.preventDefault();
      },
      breakPos(num) {
        return [parseInt(num / 8), num % 8]
      },
      drop(e) {
        e.preventDefault();
        this.$emit('highlight', {valid: [], player: this.player});
        let posP = JSON.parse(e.dataTransfer.getData('chess'));
        let currentPos = this.pos;
        if (posP.valid.indexOf(currentPos) > -1 && posP.player !== this.player) {
          if (this.player) {
            this.$emit('killed', posP, currentPos);
          } else {
            this.$emit('dropped', posP, currentPos);
          }
        }
      },
      dragStart() {
        this.$emit('highlight', arguments[0]);
      }
    },
    mounted() {
      this.$el.addEventListener('dragenter', this.enter.bind(this));
      this.$el.addEventListener('dragover', this.drag.bind(this));
      this.$el.addEventListener('drop', this.drop.bind(this));
    }
  }
</script>

<style scoped>
  .black {
    background: #000;
  }
</style>
